.backcover {
  background-image: url("./components/image/sun.jpg");
  background-size: cover;
  background-repeat: repeat;
}

.topbar {
  background-color: #006600 !important;
  color: #e6e600;
}

main {
  text-align: end;
}

li {
  display: inline-block;
}

a {
  text-decoration: none !important;
}

.active {
  color: #e6e600 !important;
  width: 10px !important;
}

#cam {
  color: #e6e600 !important;
}

.dropbtn {
  background-color: transparent;
  color: #e6e600;
  padding: 10px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #006600;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #006600;
  min-width: 131px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #e6e600;
}

.show {
  display: block;
}

#text {
  animation: blink 5s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#footer {
  background-color: #006600;
  width: 100%;
  height: 100%;
  color: #006600;
  text-align: center;
  font-size: 15px;
}

.main {
  color: black;
  margin-top: 0;
}

.main a, .fa-facebook, .fa-twitter, .fa-youtube {
  color: black;
}